@use '../variable' as *;
@use '../shared';
@use '../base';
@import '../tailwind.scss';

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-secondary-500;
  color: white;
  padding-left: $spacing-base * 2;
  padding-right: $spacing-base;

  .logo {
    width: 100px;
  }

  .nav {
    display: flex;

    .nav-link,
    .nav-menu-trigger {
      padding: $spacing-base;
      @include shared.font-size('button');
    }

    .nav-link,
    .nav-menu-trigger,
    .nav-menu-link {
      &.active {
        color: $color-primary;
      }
    }

    .nav-link,
    .nav-menu-link {
      &:hover {
        opacity: 0.7;
      }
    }

    .nav-link {
      display: inline-block;
    }

    .nav-menu-trigger {
      display: flex;
      align-items: center;
      cursor: pointer;

      .expand-more-icon {
        margin-left: 0.25rem;
        margin-right: -0.25rem;
      }

      position: relative;
      .nav-menu {
        display: none;
        background-color: white;
        color: $color-secondary-700;
        @include shared.elevation2();
        border-radius: $border-radius-card;
        padding: $spacing-sm $spacing-base;

        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        .nav-menu-container {
          display: flex;
          flex-direction: column;
          gap: $spacing-xs;
          .nav-menu-link {
            @include shared.font-size('button');
          }
        }
      }

      &:hover {
        .nav-menu {
          display: block;
        }
      }
    }
  }
}

main {
  background-color: $color-secondary-500;
  height: 100vh;
}

// header {
//   background-color: $color-secondary-500;
//   color: white;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding-left: $spacing-base * 2;
//   padding-right: $spacing-base;

//   .logo {
//     img {
//       width: 100px;
//     }
//   }

//   .nav {
//     display: flex;

//     a,
//     .menu {
//       @include shared.font-size('button');
//       display: inline-block;
//       padding: $spacing-base;

//       &.active {
//         color: $color-primary;
//       }

//       &:hover {
//         opacity: 0.7;
//       }

//       .material-icons {
//         font-size: 18px;
//       }
//     }

//     .menu {
//       cursor: pointer;
//     }
//   }
// }
