@use '../variable' as *;
@use '../shared';
@use '../base';
// @import '../tailwind.scss';

#header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: $spacing-sm $spacing-base $spacing-sm $spacing-base * 2;

  .logo {
    width: 100px;
  }

  .nav {
    display: flex;

    .nav-link,
    .nav-menu-trigger {
      padding: $spacing-base;
      @include shared.font-size('button');
    }

    .nav-link,
    .nav-menu-trigger,
    .nav-menu-link {
      &.active {
        color: $color-primary;
      }
    }

    .nav-link,
    .nav-menu-link {
      &:hover {
        opacity: 0.7;
      }
    }

    .nav-link {
      display: inline-block;
    }

    .nav-menu-trigger {
      display: flex;
      align-items: center;
      cursor: pointer;

      .expand-more-icon {
        margin-left: 0.25rem;
        margin-right: -0.25rem;
      }

      position: relative;
      .nav-menu {
        display: none;
        background-color: white;
        color: $color-secondary-700;
        @include shared.elevation2();
        border-radius: $border-radius-card;
        padding: $spacing-sm $spacing-base;

        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        .nav-menu-container {
          display: flex;
          flex-direction: column;
          gap: $spacing-xs;
          .nav-menu-link {
            @include shared.font-size('button');
          }
        }
      }

      &:hover {
        .nav-menu {
          display: block;
        }
      }
    }
  }
}

#hero-section {
  height: 100vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center center;

  position: relative;
  z-index: 0;
  &::after {
    content: '';
    background-color: rgba($color: black, $alpha: 0.5);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  color: white;

  .container {
    margin-inline: auto;
    padding: $spacing-2x1;
    height: 100%;
    display: flex;
    align-items: center;

    .content {
      .title-overline {
        @include shared.font-size('displayOverline');
        display: inline-block;
      }
      .title-container {
        margin-top: $spacing-base;

        position: relative;
        .design-bar {
          background-color: $color-primary;
          width: 0.5rem;
          border-radius: calc(0.5rem / 2);

          position: absolute;
          height: 100%;
          top: 0;
          left: -$spacing-2x1;
        }

        .title {
          font-family: $font-accent;
          @include shared.font-size('display');
          font-weight: bold;
          line-height: 1;
          span {
            color: $color-primary;
          }
        }
      }
      .description {
        margin-top: $spacing-base;
        width: 60%;
      }
      .action-link {
        display: inline-block;
        margin-top: $spacing-lg;

        background-color: $color-primary;
        color: $color-secondary-700;
        border-radius: $border-radius-button;

        padding: $spacing-sm $spacing-xl;
        @include shared.font-size('button');
        text-transform: uppercase;

        transition-property: background-color transform color;
        transition: 0.4s ease;
        &:hover {
          transform: translateY(-1px);
          background-color: $color-primary-400;
          color: black;
        }
      }
    }
  }
}
