@use './variable' as *;
@use './core';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Montserrat, 'sans-serif';
  @include font('body');
}

.container {
  @include core.generate-container(
    $breakpoint-names,
    $breakpoint-values,
    $breakpoint-containers,
    'sm'
  );
}
@each $breakpoint-name in $breakpoint-names {
  .container-#{$breakpoint-name} {
    @include core.generate-container(
      $breakpoint-names,
      $breakpoint-values,
      $breakpoint-containers,
      $breakpoint-name
    );
  }
}
