@use './variable' as *;
@use './core';
@use './shared';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* #region – Reset & Base Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
/* #endregion – End of Reset & Base Style */

body {
  font-family: 'Open Sans', sans-serif;
}
p {
  @include shared.font-size('body');
}

.container {
  @include core.generate-container(
    $breakpoint-names,
    $breakpoint-values,
    $breakpoint-containers,
    'sm'
  );
}
@each $breakpoint-name in $breakpoint-names {
  .container-#{$breakpoint-name} {
    @include core.generate-container(
      $breakpoint-names,
      $breakpoint-values,
      $breakpoint-containers,
      $breakpoint-name
    );
  }
}
