@use 'sass:list';

@mixin generate-container(
  $breakpoint-names,
  $breakpoint-values,
  $breakpoint-containers,
  $breakpoint-name
) {
  max-width: 100%;

  $breakpoint-index: list.index($breakpoint-names, $breakpoint-name);
  $breakpoint-count: length($breakpoint-names);
  @for $index from 1 through $breakpoint-count {
    @media (min-width: list.nth($breakpoint-values, $index)) {
      max-width: if($index < $breakpoint-index, 100%, list.nth($breakpoint-containers, $index));
    }
  }
}

$BROWSER_BASE_PX: 16;
@function font-scale($base-px, $scale, $level) {
  $positive-level: math.abs($level);
  $is-negative: $positive-level != $level;
  $result: 1;
  @for $index from 1 through $positive-level {
    $result: if($is-negative, $result / $scale, $result * $scale);
  }
  @return #{$result * $base-px / $BROWSER_BASE_PX}rem;
}

@function px-to-rem($px) {
  @return $px / $BROWSER_BASE_PX;
}
