@use 'sass:list';
@use 'sass:math';

@mixin generate-container(
  $breakpoint-names,
  $breakpoint-values,
  $breakpoint-containers,
  $breakpoint-name
) {
  max-width: 100%;

  $breakpoint-index: list.index($breakpoint-names, $breakpoint-name);
  $breakpoint-count: length($breakpoint-names);
  @for $index from 1 through $breakpoint-count {
    @media (min-width: list.nth($breakpoint-values, $index)) {
      max-width: if($index < $breakpoint-index, 100%, list.nth($breakpoint-containers, $index));
    }
  }
}

$BROWSER_BASE_PX: 16;
@function font-scale($base-px, $scale, $level) {
  $positive-level: math.abs($level);
  $is-negative: $positive-level != $level;
  $result: 1;
  @for $index from 1 through $positive-level {
    $result: if($is-negative, $result / $scale, $result * $scale);
  }
  @return #{round-to(calc($result * $base-px / $BROWSER_BASE_PX), 3)}rem;
}

@function px-to-rem($px) {
  @return calc($px / $BROWSER_BASE_PX);
}

@function round-to($value, $decimal-point: 0) {
  $multiply: 1;
  @for $index from 0 to $decimal-point {
    $multiply: $multiply * 10;
  }
  @return calc(math.round($value * $multiply) / $multiply);
}
